<form action="" method="POST">
    <div>
        <label>Goal</label>
        <input type="text" name="goal">
    </div>
    <div>
        <label>Target Hours</label>
        <input type="text" name="targetHours">
    </div>
    <div>
        <label>Progress Hous</label>
        <input type="text" name="progressHours">
    </div>
    <div>
        <label>Color</label>
        <input type="text" name="color">
    </div>
</form>