<div class="addContainer">
    <div class="addFormContainer">
        <form action="/goal/addGoal" method="POST">
            <div class="addInputContainer">
                <div class="label">Goal</div>
                <input class="add" type="text" name="goal">
            </div>
            <div class="addInputContainer">
                <div class="label">Target Hours</div>
                <input class="add" type="number" name="targetHours">
            </div>
            <div class="addInputContainer">
                <div class="label">Color</div>
                <input class="add" type="color" name="color">
            </div>
            <div class="addInputContainer">
                <div class="label">Image url</div>
                <input class="add" type="text" name="image">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>