<div onclick="location.href='/goal/addGoal'" class="myButton">Add</div>
<div class="wrapper">
    {{#each goals}}
    <a href="/goal/{{id}}" style="text-decoration: none; color: black">
        <div class="container">
            <h1 class="title">{{goal}}</h1>
            <h2>target: {{targetHours}} hours</h2>
            <img class="picture" src='{{image}}'>
        </div>
    </a>
    {{/each}}
</div>